@charset "UTF-8";
:root {
 --price-mob-cell:16%;

}

.carousel button {
    margin-top: 17%;
}

.k_personal .row div {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .k_img_for_smal img {
        width: 0;
    }

    .k_img_for_big img{
        width: 70%;
    }

    .k_personal .k_img_for_big img {
        width: 90%;
    }

    .carousel-item .row div {
        display: flex;
        justify-content: center;
    }

    .lrj img {
        width: 150%;
    }

}

.why-we_section {
    background-color: #ffc7c742;
    padding-bottom: 30px;
}

.about_us_section {
    background-color: #ffc7c742;
    padding-bottom: 30px;

}

.about_us_text {
    max-width: 1015px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #542e2e;
    padding: 0 80px 17px 80px;
}

.about_us_title {

    margin: 0 auto;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #ad0000;

}

.why-we_list {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 356px;
}



.why-we_item {
font-size: 22px;
font-weight: 500;
color: var(--e-global-color-9f6361a);
}

.why-we_title {
    display: flex;
    font-size: 32px;
    font-weight:700;
    align-items: center;
    align-items: center;
    justify-content: space-around;
}


.writing-online {
    font-size: 39px;
    font-weight: 600;
}

.writing-online-btn {
    font-size: 26px;
    color: white;
    font-weight: 500;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}


@media screen and (max-width: 768px) {
 .writing-online {
font-size: 40px;
 }

 .price-mobile {

    display: flex;
  flex-direction: row;
  justify-content: space-around;
}
:root {
    --price-mob-cell:100%;
   }

   .e-con>.e-con-inner{
    flex-direction: column;
   }
   .str_1 {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .table-price {
    flex-direction: column;
  }
  .about_us_text, .about_us_title {

    padding: 0 75px 17px 75px;
  }

}

@media (max-width: 480px) {
    .why-we_title {
        font-size: 24px;
    }
    .writing-online {
        font-size: 33px;
    }
    .bdt-fancy-list-text{
        font-size: 10px;
    }
    .bdt-fancy-list-text {
        font-size: 22px;
    }
    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        margin-bottom: 143px;
    }
    .about_us_text, .about_us_title{
        padding: 0 60px 17px 60px;
    }
}

.header_main {
    margin-bottom: 50px;
}

.container_main {
    margin: 0 auto;
    background-color:#fae1cb0f;
  }

@media screen and (min-width: 480px) {
     .container_main {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
    .container_main {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
    .container_main {
    width: 1200px;
  }
}

@media screen and (min-width: 768px){
    .elementor-369 .elementor-element.elementor-element-4df5ec4 {
        --flex-direction: row;
  }
}
/* .footer_text {
    color:white;
} */


